body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: honeydew;
  text-align : center;
}

h1 {
  font-family: 'haymakerregular', sans-serif;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #f5a623;
  position: relative;
}

ul {
  list-style: none;
}

.button {
  background: #3D4C53;
  margin : 20px auto;
  width : 200px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

.dish-count-button {
  background: #3D4C53;
  font-size: 13px;
  margin : 10px auto;
  width :  100px;
  height : 30px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  padding-bottom: 10px;
}

.btnText {
  color : white;
  transition : .3s;
}

.button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

.menu {

}

.dish-menu {
  position: relative;
  padding: 20px;
}

.dish-name {
  color: #151d2c;
  font-family: 'Kalam';
  font-style: italic;
  font-size: 38px;
  position: relative;
  text-align : center;
}

.dish-desc {
  color: #151d2c;
  font-family: 'Kalam';
  font-style: italic;
  font-size: 18px;
  position: relative;
  text-align : center;
}

.dish-price {
  color: #151d2c;
  font-family: 'Kalam';
  font-style: italic;
  font-size: 21px;
  padding-top: 10px;
  position: relative;
  text-align : center;
}

.cart-tagline {
  color: #151d2c;
  font-family: 'Kalam';
  font-style: italic;
  font-size: 38px;
  position: relative;
  padding-top: 80px;
}

.added-dish {
  padding-top: 50px;
}

.added-dish-name {
  color: #151d2c;
  font-family: 'Kalam';
  font-style: italic;
  font-size: 22px;
  position: relative;
  padding-right: 40px;
  padding-top: 50px;
}

.added-dish-image {
  font-family: 'Kalam';
  font-size: 28px;
  position: relative;
  padding-left: 25px;
}

.dish-price {
  font-family: 'Kalam';
  font-style: italic;
  font-size: 20px;
  position: relative;
  padding-right: 25px;
}

.count {
  font-family: 'Kalam';
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  position: relative;
  padding-right: 25px;
}

.tagline {
  font-size: 18px;
  font-style: italic;
}
