body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  font-family: 'haymakerregular', sans-serif;
  text-align: center;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #f5a623;
  position: relative;
  /* display: flex; */
}
/* h3 {
  font-family: 'haymakerregular', sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
  color: #427ce7;
  position: relative;
  /* display: flex;
} */

ul {
  list-style: none;
}

.menu {

}

.dish-menu {
  position: relative;
  padding: 20px;
}

.dish-name {
  color: #151d2c;
  font-family: 'Kalam';
  font-style: normal;
  font-size: 18px;
  position: relative;
  text-align: left;
}

.dish-desc {
  color: #151d2c;
  font-family: 'Kalam';
  font-style: italic;
  font-size: 18px;
  position: relative;
  text-align: left;
}
