body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: honeydew
}
h1 {
  font-family: 'haymakerregular', sans-serif;
  text-align: center;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #f5a623;
  position: relative;
  /* display: flex; */
}
/* h3 {
  font-family: 'haymakerregular', sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
  color: #427ce7;
  position: relative;
  /* display: flex;
} */

ul {
  list-style: none;
}

button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

button:hover{
  background:#fff;
  color:#1AAB8A;
}

button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}

button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

.menu {

}

.dish-menu {
  position: relative;
  padding: 20px;
}

.dish-name {
  color: #151d2c;
  font-family: 'Kalam';
  font-style: normal;
  font-size: 18px;
  position: relative;
  text-align: left;
}

.dish-desc {
  color: #151d2c;
  font-family: 'Kalam';
  font-style: italic;
  font-size: 18px;
  position: relative;
  text-align: left;
}
